.pageProducts{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.titleProduct{
  font-size: 35px;
  color: #71adbf;
}
.containerAllProduct{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column-gap: 15px;
  grid-row-gap: 2em;
  margin: 30px 0 30px 0;

}
.containerCardProduct{
  width: 378px;
  height: 248px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #dbdbdb;
  transition: 0.5s;
  &:hover{
    //background: #fc0; /* Цвет фона */
    box-shadow: 0 0 20px rgba(0,0,0,0.5); /* Параметры тени */
    //padding: 10px;
    transition: 0.5s;
  }
}
.productCardImg{
  margin-top: 10px;
  width: 200px;
  height: 143px;

}
