.login-form{
  width: 190px;
}
.form-control{
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0;
}
.label{
  margin: 10px 0 0 0;
  height: 30px;
  border-radius: 5px;
  color: #dfdfdf;
  border-color: #d9d9d9;

}
.buttonAuth{
  margin-top: 10px;
  width: 96px;
  height: 33px;
  border-radius: 4px;
  border: none;
  background-color: #5cb1ba;
  color: white;
}