.header-container {
  background-color: #5cb1ba;
  height: 53px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //position: relative;
  //min-height: 100%;
}
.header-container_navigator{
  width: 1200px;
  display: flex;
  justify-content: space-between;

}
.header-container_navigator__left{
  width: 268px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -17px;
}
.liStyle{
  list-style-type: none;
  align-items: center;
  display: flex;
}
.logIn{
  //margin: 4px 0 0 100px;
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.logo{
  color: white;
  font-size: 25px;
}
